.call{
    font-size: 30px;
    height: 70px;
    width: 70px;
    background-color: green;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
